.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
}
app-tab1-slider-item {
  flex-basis: 50%;
  margin-bottom: 20px;
  &:nth-child(odd) {
    padding-right: 8px;
  }
  &:nth-child(even) {
    padding-left: 8px;
  }
}
