ion-toolbar {
  --ion-background: transparent;
  --border-style: none;
  &.custom {
    --min-height: 0;
  }
}
ion-button {
  --color: "#000";
}
ion-button.button--with-radius {
  border-radius: 100%;
  --border-radius: 100%;
  background-color: #fff;
  --background: #fff;
  margin-left: 14px;
  height: 38px;
  width: 38px;
}
ion-button.button--with-radius ion-icon {
  font-size: 1.4rem;
}
.rate-container {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  height: 30px;
  padding: 0 12px;
  .label {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--gray1);
    margin-right: 0.4rem;
  }
  ion-icon {
    font-size: 0.8rem;
    color: rgb(254, 186, 49);
  }
}
