<ion-content>
  <swiper [config]="swiperConfig">
    <ng-template swiperSlide>
      <div class="slider-container">
        <img alt="splash-1" src="../../../assets/images/on-boarding/splash_1.png" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slider-container">
          <img alt="splash-2" src="../../../assets/images/on-boarding/splash_2.png" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slider-container">
        <img alt="splash-3" src="../../../assets/images/on-boarding/splash_3.png" />
      </div>
    </ng-template>
  </swiper>

  <ion-button expand="block" (click)="goToNext()">Continua</ion-button>
</ion-content>
