<app-header [onlyToolbar]="true"></app-header>
<ion-content class="ion-padding-bottom ion-padding-end ion-padding-start">
  <section class="wrapper">
    <div>
      <swiper
        [config]="slideOpts"
        [pagination]="{ clickable: true }"
        class="onboarding"
      >
        <ng-template swiperSlide>
          <div class="container">
            <h1 class="text-primary">ecommerSS group</h1>
            <h6 class="text-secondary">Benvenuto su ecommerSS group!</h6>
            <img
              alt="splash-1"
              src="../../../assets/images/on-boarding/splash_1.png"
            />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="container">
            <h1 class="text-primary">ecommerSS group</h1>
            <h6 class="text-secondary">
              Aiutiamo le persone a comprare in modo smart! So simple!
            </h6>
            <img
              alt="splash-1"
              src="../../../assets/images/on-boarding/splash_2.png"
            />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="container">
            <h1 class="text-primary">ecommerSS group</h1>
            <h6 class="text-secondary">
              Mostriamo il modo più semplice per fare acquisti. Resta a casa,
              per il resto ci pensiamo noi
            </h6>
            <img
              alt="splash-1"
              src="../../../assets/images/on-boarding/splash_3.png"
            />
          </div>
        </ng-template>
      </swiper>
    </div>
  </section>
</ion-content>
<app-footer>
  <ion-button expand="block" size="large" (click)="goToNext()"
    >Continua</ion-button
  >
</app-footer>
