div {
  &.container {
    background-color: rgb(52, 153, 162);
    padding: 1rem;
    margin: 10px 0 30px;
    border-radius: 1rem;
  }
  h2,
  h6 {
    color: white;
    margin: 0;
  }
  h6 {
    margin-bottom: 8px;
  }
}
