<app-header [onlySafeArea]="true"></app-header>
<ion-content>
  <!--SEARCH AND CART-->
  <app-tab1-search-cart></app-tab1-search-cart>

  <!--LOGO-->
  <ion-img src="assets/images/loghi/SSG_logo.jpeg"></ion-img>

  <!--BANNER-->
  <app-tab1-banner></app-tab1-banner>

  <!--SLIDER 1-->
  <app-tab1-slider1></app-tab1-slider1>

  <!--SLIDER 2-->
  <app-tab1-slider2></app-tab1-slider2>

  <!--MENUS-->
  <app-tab1-menus></app-tab1-menus>

  <!--SLIDER 3-->
  <app-tab1-slider3></app-tab1-slider3>
</ion-content>
