<div class="header ion-margin">
  <div class="description font-weight-500 font-size-18">
    Basato sui tuoi acquisti
  </div>
  <div class="text-secondary-light font-size-14 font-weight-600">
    Vedi altro
  </div>
</div>
<swiper [config]="optsSlider">
  <ng-template swiperSlide *ngFor="let s of slider1; index as i">
    <app-tab1-slider-item
      [img]="s?.img"
      [description]="s?.description"
      [price]="s?.price"
      [liked]="s?.like"
      [images]="s?.images"
      [rate]="s?.rate"
      [index]="i"
    >
    </app-tab1-slider-item>
  </ng-template>
</swiper>
