div {
  &.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    div {
      &.img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 100px;
        background: var(--light-gray);
        border-radius: 1rem;
        ion-img {
          align-self: center;
          width: 66px;
        }
      }
      &.description-container {
        flex-basis: 70%;
        padding: 0 1rem;
      }
    }
  }
}
