ion-icon {     
    margin: 15px 0px -33px 0 !important;
    height: 100%;
}
u { font-size: .8rem;}
ion-checkbox { margin-right: 10px;}

.before-submit { display: flex; align-items: center; justify-content: space-between; }
.before-submit span { font-size: 0.8rem; }
.social-media { display: flex; align-items: center; justify-content: space-around; margin: 0 auto; width: 50%; padding-top: 60px; padding-bottom: 20px;}
.social-media .social-icon-container { display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background-color: rgb(247, 247, 247); }
.social-media .social-icon-container img { width: 18px; height: 18px; }
.sign-up-container { display: flex; justify-content: center; }
.sign-up-container span:first-child { color: var(--gray1); margin-right: 10px;}
.sign-up-container span:last-child { color: var(--red1);}
